<section class="clients">
    <div class="container clients-container">
        <h2 class="clients-title">What Clients Say</h2>
        <p class="clients-text">Problems trying to resolve the conflict between the two major realms of Classical
            physics: Newtonian
            mechanics</p>
        <ul class="clients-list">
            <li class="clients-item">
                <img class="clientsimage" src="images/star.png" alt="star">
                <p class="clients-text-item">Product helps you see how many more days you need to work to reach your
                    financial goal.</p>
                <div class="div-item">
                    <img class="div-item-image" src="./images/itemone.png" alt="itemone">
                    <div class="div-item-text">
                        <h3 class="clients-title-item">Wahid Ari</h3>
                        <p class="clients-text-item">Designer</p>
                    </div>
                </div>
            </li>
            <li class="clients-item">
                <img class="clientsimage" src="images/star.png" alt="star">
                <p class="clients-text-item">Product helps you see how many more days you need to work to reach your
                    financial goal.
                </p>
                <div class="div-item"><img class="div-item-image" src="./images/itemtwo.png" alt="itemone">
                    <div class="div-item-text">
                        <h3 class="clients-title-item">Wahid Ari</h3>
                        <p class="clients-text-item">Designer</p>
                    </div>
                </div>
            </li>
            <li class="clients-item">
                <img class="clientsimage" src="images/star.png" alt="star">
                <p class="clients-text-item">Product helps you see how many more days you need to work to reach your
                    financial goal.
                </p>
                <div class="div-item"><img class="div-item-image" src="./images/itemthree.png" alt="itemone">
                    <div class="div-item-text">
                        <h3 class="clients-title-item">Wahid Ari</h3>
                        <p class="clients-text-item">Designer</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>