<section class="collaborative">
    <div class="container collaborative-container">
        <div class="div-collaborate">
            <h2 class="collaborative-title">Optimisation for <span class="collaborative-span">Collaborative</span></h2>
            <p class="collaborative-text">Few would argue that, despite the advancements of feminism over the past three
                decades, women still face
                a double standard when it comes to their behavior.</p>
            <ul class="collaborative-list">
                <li class="collaborative-item">
                    <h3 class="collaborative-title-item">Accessory makers</h3>
                    <p class="collaborative-text-item">While most people enjoy casino gambling, sports betting, lottery
                        and bingo playing for the fun
                    </p>
                </li>
                <li class="collaborative-item">
                    <h3 class="collaborative-title-item">Alterationists</h3>
                    <p class="collaborative-text-item">If you are looking for a new way to promote your business that
                        won’t cost you more money, </p>
                </li>
            </ul>
        </div>
        <img class="collaborative-image" src="images/collaboration-img.png" alt="collaborative">
    </div>
</section>