<section class="customer">
    <div class="container customer-container">
        <img class="customer-image" src="images/support-img.png" alt="support">
        <div class="customer-container-text">
            <p class="customer-title-text">Easier decision making for </p>
            <h2 class="customer-title">Customer Support</h2>
            <p class="customer-text">The Myspace page defines the individual, his or her characteristics, traits,
                personal choices and the
                overall personality of the person.</p>
            <ul class="customer-list">
                <li class="customer-item">
                    <div class="div-icon-customer">
                        <svg class="icon-customer" width="17" height="12">
                            <use href="./images/icons.svg#icon-tick"></use>
                        </svg>
                    </div>
                    <p class="customer-text-item">Never worry about overpaying for your energy again. </p>
                </li>
                <li class="customer-item">
                    <div class="div-icons-customer">
                        <svg class="icon-customer" width="17" height="12">
                            <use href="./images/icons.svg#icon-tick"></use>
                        </svg>
                    </div>
                    <p class="customer-text-item">We will only switch you to energy companies that we trust and will
                        treat you right</p>
                </li>
                <li class="customer-item">
                    <div class="div-icon-customers">
                        <svg class="icon-customer" width="17" height="12">
                            <use href="./images/icons.svg#icon-tick"></use>
                        </svg>
                    </div>
                    <p class="customer-text-item">We track the markets daily and know where the savings are.</p>
                </li>
            </ul>
        </div>
    </div>
</section>