<footer class="footer">
  <div class="container footer-container">
    <div class="footer-container-impotant">
      <div class="footer-container-one">
        <a class="link-footer" href="./index.html"><img src="images/logo.png" alt="logo" />Product</a>
        <ul class="list-icon">
          <li class="item-link-footer">
            <a class="link-footer-item" href=""><svg class="list-icon-footer" width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg></a>
          </li>
          <li class="item-link-footer">
            <a class="link-footer-item" href=""><svg class="list-icon-footer" width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg></a>
          </li>
          <li class="item-link-footer">
            <a class="link-footer-item" href=""><svg class="list-icon-footer" width="24" height="24">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg></a>
          </li>
        </ul>
      </div>
      <div class="footer-container-two">
        <p class="footer-text">Resource</p>
        <ul class="footer-list">
          <li class="footer-item">
            <a class="footer-link-item" href="">About Us</a>
          </li>
          <li class="footer-item">
            <a class="footer-link-item" href="">Blog</a>
          </li>
          <li class="footer-item">
            <a class="footer-link-item" href="">Contact</a>
          </li>
          <li class="footer-item">
            <a class="footer-link-item" href="">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="footer-container-three">
        <p class="footer-text">Legal Stuff</p>
        <ul class="footer-list">
          <li class="footer-item">
            <a class="footer-link-item" href="">Disclaimer</a>
          </li>
          <li class="footer-item">
            <a class="footer-link-item" href="">Financing</a>
          </li>
          <li class="footer-item">
            <a class="footer-link-item" href="">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="footer-container-four">
        <p class="footer-text">knowing you're always on the best energy deal.</p>
        <form class="footer-form ">
          <label class="label-footer" for="user-phone"></label>
          <div class="icon-div-footer">
            <input type="phone" class="user-phone" id="user-phone" placeholder="Enter your phone number" required>
            <svg class="icon-footer-form" width="16" height="24">
              <use href="./images/icons.svg#icon-mobile-screen"></use>
            </svg>
          </div>
        </form>
        <button class="button-footer" type="submit">Sign up Now</button>
      </div>
    </div>
    <p class="footer-text-end">Made With Love By Figmaland All Right Reserved</p>
  </div>
</footer>
