<header class="header">
  <div class="container header-container">
    <nav class="nav-header">
      <a class="logo-header" href="./index.html"><img class="logo-image-header" src="images/logo.png"
          alt="logo">Product</a>
      <ul class="list-header">
        <li class="item-header-one"><a class="link-header" href="./index.html" alt="">Product</a></li>
        <li class="item-header"><a class="link-header" href="./customers.html" alt="">Customers</a></li>
        <li class="item-header"><a class="link-header" href="./pricing.html" alt="">Pricing</a></li>
        <li class="item-header"><a class="link-header" href="./resourses.html" alt="">Resources</a></li>
      </ul>
    </nav>
    <ul class="list-button-header">
      <li class="item-link-header"><button class="button-header-one" type="button">Sign In</button></li>
      <li class="item-link-header"><button class="button-header-two" type="button">Sign Up</button></li>
    </ul>
  </div>
</header>
