<section class="price">
    <div class="container price-container">
        <h2 class="price-title">Price Table</h2>
        <p class="price-text">We offer competitive price</p>
        <ul class="price-list">
            <li class="price-item">
                <h3 class="price-title-item">Free</h3>
                <p class="price-text-item-one">Brief price description</p>
                <div class="div-price">
                    <p class="span-one">0</p>
                    <div class="div-price-sec">
                        <p class="span-two">$</p>
                        <p class="price-text-item-two">Per / month</p>
                    </div>
                </div>
                <ul class="price-list-item">
                    <li>
                        <p class="price-text-item-list">Only 2 Operators</p>
                    </li>
                    <li>
                        <p class="price-text-item-list">Notifications</p>
                    </li>
                    <li>
                        <p class="price-text-item-list">Landing Pages</p>
                    </li>

                </ul>
                <bottom class="bottom-price" type="bottom">Order Now</bottom>
            </li>
            <li class="price-item price-item-two">
                <h3 class="price-title-item">Standard</h3>
                <p class="price-text-item-one">Brief price description</p>
                <div class="div-price">
                    <p class="span-one price-span">5</p>
                    <div class="div-price-sec">
                        <p class="span-two price-span">$</p>
                        <p class="price-text-item-two price-span">Per / month</p>
                    </div>
                </div>
                <ul class="price-list-item">
                    <li>
                        <p class="price-text-item-list list-price">5+ Operators</p>
                    </li>
                    <li>
                        <p class="price-text-item-list list-price">Notifications</p>
                    </li>
                    <li>
                        <p class="price-text-item-list list-price">Landing Pages</p>
                    </li>

                </ul>
                <bottom class="bottom-price" type="bottom">Order Now</bottom>
            </li>
            <li class="price-item">
                <h3 class="price-title-item">Premium</h3>
                <p class="price-text-item-one">Brief price description</p>
                <div class="div-price">
                    <p class="span-one">10</p>
                    <div class="div-price-sec">
                        <p class="span-two">$</p>
                        <p class="price-text-item-two">Per / month</p>
                    </div>
                </div>
                <ul class="price-list-item">
                    <li>
                        <p class="price-text-item-list">10+ Operators</p>
                    </li>
                    <li>
                        <p class="price-text-item-list">Notifications</p>
                    </li>
                    <li>
                        <p class="price-text-item-list">Landing Pages</p>
                    </li>

                </ul>
                <bottom class="bottom-price" type="bottom">Order Now</bottom>
            </li>
        </ul>
    </div>
</section>