<section class="process">
    <div class=" container container-process">
        <h2 class="process-title">Quick & Easy Process</h2>
        <p class="process-text">Do you require some help for your project: Conception workshop, prototyping, marketing
            strategy, landing
            page, Ux/UI?</p>
        <ul class="process-list">
            <li class="process-item">
                <img class="process-image" src="images/avatar.png" alt="team1">
                <p class="process-text-item">I can take care of your pitch</p>
            </li>
            <li class="process-item">
                <p class="process-text-item">I can prototype your app</p>
                <img class="process-image" src="images/avatar2.png" alt="team2">
            </li>
            <li class="process-item">
                <p class="process-text-item">I can take care of your pitch</p>
                <img class="process-image" src="images/avatar1.png" alt="team3">
            </li>
            <li class="process-item">
                <img class="process-image" src="images/avatar3.png" alt="team4">
                <p class="process-text-item">I can help marketing strategy</p>
            </li>
        </ul>
        <button class="button-process" type="button">Contact our expert</button>
    </div>
</section>