<section class="strategies">
    <div class="container strategies-container">
        <h2 class="strategies-title">Contents Strategies</h2>
        <p class="strategies-text">We focus on ergonomics and meeting you where you work. It's only a keystroke away.
        </p>
        <ul class="strategies-list">
            <li class="strategies-item">
                <img class="strategies-image" src="images/image.png" alt="computer">
                <div class="div-strategies-item">
                    <p class="strategies-text-item">By <span class="span-strategies">Wahid Ari</span> | 03 March 2019
                    </p>
                    <a href="" class="strategies-link-item">Increasing Prosperity With Positive Thinking</a>
                </div>
            </li>
            <li class="strategies-item">
                <img class="strategies-image" src="images/Bitmap-1.png" alt="people">
                <div class="div-strategies-item">
                    <p class="strategies-text-item">By <span class="span-strategies">Wahid Ari</span> | 03 March 2019
                    </p>
                    <a href="" class="strategies-link-item">Motivation Is The First Step To Success</a>
                </div>
            </li>
            <li class="strategies-item">
                <img class="strategies-image" src="images/Bitmap.png" alt="bild">
                <div class="div-strategies-item">
                    <p class="strategies-text-item">By <span class="span-strategies">Wahid Ari</span> | 03 March 2019
                    </p>
                    <a href="" class="strategies-link-item">Success Steps For Your Personal Or Business</a>
                </div>
            </li>
        </ul>
    </div>
</section>