<section class="work">
    <div class="container work-container">
        <div class="work-container-one">
            <h1 class="work-title">Work at the speed of thought</h1>
            <p class="work-text">Tools, tutorials, design and innovation experts, all in one place! The most intuitive
                way to imagine your
                next user experience.</p>
            <div class="work-button-list">
                <button class="work-button-one" type="button">Get started</button>
                <button class="work-button-two" type="button">
                    <svg class="icon-button" width="16" height="18">
                        <use href="./images/icons.svg#icon-Triangle"></use>
                    </svg><a class="link-button" href="">Watch the Video</a></button>
            </div>
        </div>
        <img class="work-image" src="images/hero-img.png" alt="hero">
    </div>
</section>
