.header-container {
  display: flex;
}

.nav-header {
  display: flex;
  gap: 237px;
}

.logo-header {
  display: flex;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  gap: 16px;
  align-items: center;
}

.logo-image-header {}

.list-header {
  display: flex;
  gap: 30px;
  margin-right: 73px;
}

.item-header {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.item-header-one .link-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.link-header {
  padding-top: 26px;
  padding-bottom: 26px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.list-button-header {
  display: flex;
  gap: 21px;
}

.item-link-header {
  padding-top: 19px;
  padding-bottom: 19px;
}

.button-header-one {
  width: 105px;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;

}

.button-header-two {
  width: 113px;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background-color: #02897a;

}