.product-container {}

.product-title {
  font-size: 32px;
  text-align: center;
  color: #22343d;
  max-width: 520px;
  margin: 0 auto 50px auto;
}

.product-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;

}

.product-item {
  width: calc((100% - 90px) / 4);
}

.product-title-item {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 13px;
}

.product-text {
  line-height: 1.62;
  color: #22343d;
}

.button-product {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  background-color: #02897a;
  margin: 0 auto;
}

.icon-product-div {
  border-radius: 19px;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}

.product-item:nth-child(1) .icon-product-div {
  background-color: #02897a;
}

.product-item:nth-child(2) .icon-product-div {
  background-color: #4d8dff;
}

.product-item:nth-child(3) .icon-product-div {
  background-color: #740a76;
}

.product-item:nth-child(4) .icon-product-div {
  background-color: #f03e3d;
}